<div class="container" *ngIf="stadium">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">
                    <!-- This div contains the larger view of images -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="current-pic">
                            <!-- Display the current selected image here -->
                            <img [src]="selectedImage" />
                        </div>
                    </div>
                    <div class="d-flex flex-row flex-wrap">
                        <ng-container *ngFor="let image of stadium.picturesUrl; let i = index">
                            <div class="picDown col-md-6 col-lg-3" [ngClass]="{ active: selectedImageIndex === i }">
                                <a (click)="selectImage(i)">
                                    <img class="h-100" [src]="image" />
                                </a>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">{{stadium.name}}</h3>

                    <p class="product-description">{{stadium.description}}</p>
                    <h4 class="price">Cost: <span>{{stadium.cost|currency}} </span> per
                        <span>{{stadium.duration}}</span> min
                    </h4>

                    <p class="price">Width:
                        <span>{{stadium.width}}</span>
                    </p>
                    <p class="price">Height:
                        <span>{{stadium.height}}</span>
                    </p>
                    <mat-form-field>
                        <mat-label>Select a date</mat-label>
                        <input matInput [matDatepicker]="picker" (ngModelChange)="dateOnchange()" [(ngModel)]="selectedDate" [min]="minDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <div class="timeslots">
                        <ul *ngIf="selectedtimeSlots.length>0"
                            class="list-group list-group-horizontal position-relative overflow-auto">
                            <ng-container *ngFor="let time of selectedtimeSlots">
                                <li class="list-group-item">{{time}}</li>

                            </ng-container>
                        </ul>

                        <p *ngIf="selectedtimeSlots.length>0">
                            Price: {{totalAmount|currency}}
                        </p>

                    </div>
                    <button type="button"  class="chooseDate btn btn-info" (click)="ChooseTimeSlots()">
                        {{selectedtimeSlots.length==0?"Choose Time":"Edit Time"}}
                    </button>

                    <button (click)="reserve()" type="button" class="btn btn-warning" [class.isDisabled]="selectedtimeSlots.length==0">Reserve</button>

                </div>
            </div>
        </div>
    </div>
</div>