<div class="container">
  <div  class="bg-white rounded d-flex align-items-center  flex-wrap" id="header">

    <ng-container *ngIf="totalCount>0 || hasOnSearched()">
      <div class="mb-2 d-flex align-items-center flex-wrap col-md-6 col-lg-6">
        <input #Search (keyup.enter)="onSearch()" type="text" class="form-control w-50 col-sm-12 " placeholder="Search" />
        <select #TypeSelect class="form-select w-25" aria-label="Default select example">
          <option   *ngFor="let searchType of getEnumKeysAndValues()" value="{{searchType.value}}" [selected]="this.StatdiumParams.searchType==searchType.value">
            {{ searchType.key|titlecase }}
          </option>
        </select>
        <input (click)="onSearch()" class="btn btn-outline-primary" type="submit" value="Submit">
      </div>
    </ng-container>
    <div  class="d-flex align-items-center justify-content-lg-end flex-wrap col-md-12 col-lg-6 ">
        <app-pager *ngIf="totalCount>0"  (pageChanged)="pageChanged($event)" [collectionSize]="totalCount" [maxSize]="4"
          [page]="StatdiumParams.pageIndex" [pageSize]="StatdiumParams.pageSize">
        </app-pager>
      <app-paging-header *ngIf="totalCount>0" [totalCount]="totalCount" [pageSize]="StatdiumParams.pageSize"
        [pageNumber]="StatdiumParams.pageIndex"></app-paging-header>
        <span *ngIf="totalCount === 0 && hasFinnishedToGetData">There are <strong>0</strong> results for this filter</span>

    </div>
  </div>

  <div id="content" class="my-5">
    <div id="products">
      <div class="row">
        <ng-container *ngFor="let stadium of Statdiums">
          <div class="col-lg-3 col-md-6">
            <div class="parentCard card d-flex flex-column align-items-center justify-content-center">
              <div class="product-name">{{stadium.name}}</div>
              <div class="card-img">
                <a routerLink="Shop/{{stadium.id}}">
                  <img class="w-100" src="{{stadium.picturesUrl[0]}}" alt="" />
                </a>
              </div>
              <div class="card-body pt-3">
                <div class="text-muted text-center">Cost: <span>{{stadium.cost|currency}} </span> per
                  <span>{{stadium.duration}}</span> min </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>